*{
box-sizing: border-box;
}


@media only screen and (max-width: 768px) {
    .screenP {
     background-color: rgb(7, 13, 142);
      width: 100%;
    }
  }

body { 
    background: #6ee6e6;
    background: -webkit-linear-gradient(to right, #beb9eb, #9fecb0);
    background: linear-gradient(to right, #b9b4eb, #a4e3ee);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
}

.screenP {
    border: 1px solid rgb(56, 70, 194);
    width: 25%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 10px;
    padding: 2%;
    text-align: center;
    background-color: rgb(242, 19, 19);
    border-radius: 10px;}


.pantallapoke {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(237, 222, 222);
    border: 1px solid rgb(83, 149, 225);
    padding: 2%;
    align-items: center;
    /*text-align: center;*/
}

.pantallacero_reset {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(83, 149, 225);
    /*color: white;*/
    border: 1px solid rgb(56, 70, 194);
    padding: 2%;
    text-align: center;
}

.pantallacero_reset2 {
    width: 100%;
    height: 35px;
    color: white;
    background-color: rgb(83, 149, 225);
    padding: 2%;
    text-align: center;
}

/*.pantalla_datos:hover {
    background-color: rgb(3, 3, 3);
    color:black;}*/
   


.pantalla_datos {
    width: 100%;
    height: 100%;
    
    background-color: rgb(83, 149, 225);
    color: rgb(10, 10, 10);
    padding: 2%;
    text-align: left;
}

.pantalla_datos2 {
    width: 100%;
    height: 100%;
    
    background-color: rgb(133, 18, 18);
    color: rgb(10, 10, 10);
    padding: 2%;
    text-align: left;
}









.enter_datos {
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(219, 37, 24);
    
    padding: 2%;
    text-align: center;
}

.button {
    background-color: rgb(219, 37, 24);
    border: none;
    color:white;
    padding: 2%;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
}	

.uno {
    background-color:rgb(219, 37, 24); 
   
   
  }
  

.uno:hover {
    background-color: rgb(136, 134, 247);
    color: rgb(17, 16, 16);
  }


.normal {
    background: #BABAAE;
 }
      
.fighting {
     background: #A75543;
}
      
.flying {
    background: #78A2FF;
}
      
.poison {
    background: #A95CA0;
 }
      
.ground {
    background: #EECC55;
}
      
.rock {
    background: #CCBD72;
 }
      
.bug {
     background: #C2D21E;
}
      
.ghost {
    background: #7975D7;
 }
      
.steel {
    background: #C4C2DB;
}
      
.fire {
    background: #FA5643;
}
      
.water {
     background: #56ADFF;
}
      
.grass {
     background: #8CD750;
 }
      
.electric {
    background: #FDE139;
 }

.psychic {
     background: #FA65B4;
 }
      
.ice {
    background: #96F1FF;
 }
      
.dragon {
    background: #8673FF;
}
      
.dark {
    background: #8D6855;
 }
      
.fairy {
        background: #F9AEFF;
 }
